
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Home style */
body{
    /* background: #081b29; */
    /* background: #59344F; */
    background: #A8A8A8;
    color: #264653;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background-color:#A8A8A8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo{
    position: relative;
    font-size: 30px;
    /* color: #081b29; */
    /* color: #59344F; */
    color: #081b29;
    text-decoration: none;
    font-weight: 600;

}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #A8A8A8;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
} 
.navigation a{
    font-size: 18px;
    /* color: #59344F; */
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
    margin-left: 25px;
    transition: .3s;
}
.navigation a:hover{
    /* color: #00abf0; */
    color: #081b29;
}
.navigation a.navhome{
    color: #081b29;
}

.home{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
    /* background: url('images/IMG-20240125-WA0055.jpg') no-repeat; */
    background-size: cover;
    background-position: center;
}
.home-content{
    max-width: 600px;
   
}
.home-content h1{
    position: relative;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #A8A8A8;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
} 
.home-content h3{
    position: relative;
    font-size: 27px;
    font-weight: 600;
    color: #081b29;
}
.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #A8A8A8;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
} 
.home-content p{
    position: relative;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0 30px;
}
.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #A8A8A8;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
} 
.home-content .btn-box{
    position: relative;
    width: 345px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #A8A8A8;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
} 

.btn-box a{
    display: inline-flex;
    font-size: 19px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    width: 150px;
    height: 100%;
    background: #081b29;
    border: 2px solid #081b29;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color:#081b29;
    background: #A8A8A8;
    
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: transparent;
    z-index: -1;
    transition: .5s;
}
.btn-box a:nth-child(2)::before{
    background: #081b29;
}
.btn-box a:hover::before{
    width: 100%;
}
.btn-box a:nth-child(2){
    background-color: transparent;
    color: #081b29;
}
.btn-box a:nth-child(2):hover{
    color: aliceblue;
}
.home-sci{
    position: absolute;
    bottom: 150px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}
.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #A8A8A8;
    animation: showRight 1s ease forwards;
    animation-delay: 2.3s;
    z-index: 2;
} 
.home .image-cover .photo{
    width: auto; 
     height: 450px; 
    border: 0.5px transparent;
    border-radius: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 100px;
    right: 70px;
    
    
}

.home .image-cover .photo:hover{
    background: lightslategray;
    
    transform: scale(1.05);
    transition: .3s;
    z-index: 1;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #081b29;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #081b29;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;

}
.home-sci a:hover{
    color: aliceblue;
}

@keyframes showRight{
    100% {
        width: 0;
    }
}
/* About Me style */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #fdf0d5;
    color: #081b29;
    

}
.about-img img{
    border-radius: 50%;
    margin-left: 8px;
    margin-top: 16px;
    margin-bottom: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about .btn-box {
    display: inline-flex;
    font-size: 19px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    width: 150px;
    height: 100%;
    background: #081b29;
    border: 2px solid #081b29;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1rem;
    margin: 2rem 0 3rem;
    text-align: justify;
    margin-right: 25px;
}
/* knowledge Design */
.knowledge h2{
    margin-bottom: 5rem;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 16px;
    margin-right: 16px;
}
.services-container .services-box{
    flex: 1 1 10rem;
    background: #081b29;
    padding: 1.5rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.services-box i{
    font-size: 5rem;
    color: #A8A8A8;
}
.services-container .services-box:hover{
    transform: scale(1.02);
    
    transition: 0.3s;
}
.services-box h3{
    color: aliceblue;
    font-size: 1.5rem;
    
}
/* Experince style */
.experince{
    margin-top: 4rem;
    background: #264653;
    color: aliceblue;
}
.experince h2{
    margin-bottom: 2rem;
    
}
.experince #arrow{
    font-size: 2rem;
}

.experince-container{
    display: grid;
    grid-template-columns: repeat(1);
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
.experince-container .experince-box{
    
    border-radius: 2rem;
    box-shadow: 0 0 1rem #081b29;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.experince-box .experince-layer{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 16px;
    margin-bottom: 8px;
    width: 500px;
    height: auto;
    
}
.experince-layer p{
    text-align: justify;
    margin-left: 8px;
    margin-right: 8px;
}
.experince-layer h4{
    font-size: 1.5rem;
    
}
.experince-layer h5{
    font-size: 1rem;
    font-weight: 600;
}
.experince-layer h6{
    font-size: 0.8rem;
    font-weight: 500;
}
.experince-layer #clip{
    font-size: 3rem;
}








